<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polekiss</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'pole/css/estilos.css' %}">
    
    <div class="rodr"><h2>Bienvenidos</h2></div> 
    {% load pwa %}
    {% progressive_web_app_meta}
</head>

<body>

    
    <header id="header">
        <img class="menu" src="{% static 'pole/img/menuiconwhite.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="{% static 'pole/img/logotipo.png' %}" alt="logo">
        </div>

        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'index' %}"> Inicio </a>
                    </li>
                    <li><a href="{% url 'galeria' %}">Galería</a>
                    </li>
                    <li><a href="{% url 'quienessomos' %}">quienes somos</a>
                    </li>
                    <li>
                        <a href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li>
                        <a href="https://facebook.com">Facebook</a>
                    </li>
                    
                    
                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">

        {% block contenido %}
        
        {% endblock %}

    </div>


    <footer>
        
        <div class="marcas">
            <img src="{% static 'pole/img/naruto.jpg' %}" alt="naruto">
            <img src="{% static 'pole/img/autronauta.jpg' %}" alt="autronauta">
            <img src="{% static 'pole/img/cenicienta.jpg' %}" alt="cenicienta">
            <img src="{% static 'pole/img/donRamon.jpg' %}" alt="donramon">
            <img src="{% static 'pole/img/coyote.jpg' %}" alt="coyote">
        </div>
        <div class="logo_footer">
            <img src="{% static 'pole/img/poleron.png' %}" alt="logo">
        </div>
    </footer>
    <h3>Fono contacto</h3>
    <div>+56998765431</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script src="js/menu.js"></script>

    
    {% block js %}
    {% endblock %}