<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polekiss</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    
    <link rel="stylesheet" href="css/estilos.css">
    <body background="img/Negro_1.png">
        <div class="rodr"><h2>Bienvenidos</h2></div> 
    
</head>
<body>

    
    <header id="header">
        <img class="menu" src="img/menuiconwhite.png" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="img/logotipo.png" alt="logo">
        </div>

        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="index.html"> Inicio </a>
                    </li>
                    <li><a href="galeria.html">Galería</a>
                    </li>
                    <li><a href="quienes somos.html">quienes somos</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                    
                    
                    
                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">

            <div class="slider">
                <div>
                    <img src="img/banner/banner4.jpeg" alt="">
                </div>
                <div>
                    <img src="img/banner/banner5.jpeg" alt="">
                </div>
                <div>
                    <img src="img/banner/banner6.jpeg" alt="">
                </div>
            </div>

        <h2>Productos</h2>
        <div class="productos">

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="img/tomy_y_daly.jpg" alt="imagen producto">
                    <div class="detalle">
                        <h5>disponible</h5>
                        <h2>en stock</h2>
                        <h3>$$$$$$</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="img/dios_de_la_guerra.jpg" alt="imagen producto">
                    <div class="detalle">
                        <h5>Disponible</h5>
                        <h2>en stock</h2>
                        <h3>$$$$$</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="img/metallica-sad-but-true-polera-frente-600x600.jpg" alt="imagen producto">
                    <div class="detalle">
                        <h5>Disponible</h5>
                        <h2>en stock</h2>
                        <h3>$$$$$</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="img/rolling.jpg" alt="imagen producto">
                    <div class="detalle">
                        <h5>Disponible</h5>
                        <h2>en stock</h2>
                        <h3>$$$$$</h3>
                    </div>

                </div>

            </div>

            <div class="producto">

                <div class="contenedor_producto">

                    <img src="img/diesel.jpg" alt="imagen producto">
                    <div class="detalle">
                        <h5>Disponible</h5>
                        <h2>en stock</h2>
                        <h3>$$$$$</h3>
                    </div>

                </div>

            </div>


        </div>


    </div>


    <footer>
        
        <div class="marcas">
            <img src="img/naruto.jpg" alt="naruto">
            <img src="img/autronauta.jpg" alt="autronauta">
            <img src="img/cenicienta.jpg" alt="cenicienta">
            <img src="img/donRamon.jpg" alt="donramon">
            <img src="img/coyote.jpg" alt="coyote">
        </div>
        <div class="logo_footer">
            <img src="img/poleron.png" alt="logo">
        </div>
    </footer>
    <h3>Fono contacto</h3>
    <div>+56998765431</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="js/menu.js"></script>

    <script>
        $(document).ready(function() {
          $('.slider').bxSlider({
              mode: 'fade',//horizontal, vertical, fade
              auto: true,
              pause: 2000
          });
        });
    </script>

</body>
</html>