{% extends 'pole/base.html' %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}
{% block contenido %}

<div class="slider">
    <div>
        <img src="{% static 'pole/img/banner/banner4.jpeg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'pole/img/banner/banner5.jpeg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'pole/img/banner/banner6.jpeg' %}" alt="">
    </div>
</div>

<h2>Productos</h2>
<div class="productos">

<div class="producto">

    <div class="contenedor_producto">

        <img src="{% static 'pole/img/tomy_y_daly.jpg'%}" alt="imagen producto">
        <div class="detalle">
            <h5>disponible</h5>
            <h2>en stock</h2>
            <h3>$$$$$$</h3>
        </div>

    </div>

</div>

<div class="producto">

    <div class="contenedor_producto">

        <img src="{% static 'pole/img/dios_de_la_guerra.jpg' %}" alt="imagen producto">
        <div class="detalle">
            <h5>Disponible</h5>
            <h2>en stock</h2>
            <h3>$$$$$</h3>
        </div>

    </div>

</div>

<div class="producto">

    <div class="contenedor_producto">

        <img src="{% static 'pole/img/metallica-sad-but-true-polera-frente-600x600.jpg' %}" alt="imagen producto">
        <div class="detalle">
            <h5>Disponible</h5>
            <h2>en stock</h2>
            <h3>$$$$$</h3>
        </div>

    </div>

</div>

<div class="producto">

    <div class="contenedor_producto">

        <img src="{% static 'pole/img/rolling.jpg' %}" alt="imagen producto">
        <div class="detalle">
            <h5>Disponible</h5>
            <h2>en stock</h2>
            <h3>$$$$$</h3>
        </div>

    </div>

</div>

<div class="producto">

    <div class="contenedor_producto">

        <img src="{% static 'pole/img/diesel.jpg' %}" alt="imagen producto">
        <div class="detalle">
            <h5>Disponible</h5>
            <h2>en stock</h2>
            <h3>$$$$$</h3>
        </div>

    </div>

</div>


</div>
{% endblock %}
